@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    font-weight:700;
}

.form-update::-webkit-scrollbar {
    display: none;
  }
  
  .form-update {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }